.newsPage__header {
    margin-bottom: 40px;
}

.newsPage__breadcrumbs{
    margin-bottom: 25px;
}

.newsPage__news {
    margin-bottom: 305px;
}

@media screen and (max-width: 1700px) {
    .newsPage__news {
        margin-bottom: 180px;
    }
}

@media screen and (max-width: 950px) {
    .newsPage__header {
        margin-bottom: 30px;
    }

    .newsPage__breadcrumbs{
        margin-bottom: 20px;
    }
    
    .newsPage__news {
        margin-bottom: 100px;
    }
}


@media screen and (max-width: 480px) {
    .newsPage__news {
        margin-bottom: 70px;
    }
}