:root {
    --white: #FFFFFF;
    --grey-white: #F5F5F5;
    --black: #000000;
    --cream: #FFF8EF;
    --orange: #FE9A03;
    --red: #D91717;
    --green: #2A6007;
    --general-font: "JannaLT", sans-serif;
}