.filters__list {
    display: flex;
    margin-right: 10px;
}

.filters__button:not(:last-child) {
    margin-right: 15px;
}

@media screen and (max-width: 700px) {
    .filters {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .filters__inner {
        position: relative;
        overflow-x: auto;
        margin-bottom: -30px;
        padding-bottom: 30px;
        width: 100%;
    }

    .filters__list {
        display: inline-flex;
        margin: 0 20px;
    }
}